@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("schools_MVdSxpebVbCje6Sd8KoN_files_hero.webp");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.hero-img {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.Title {
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 4rem;
  font-family: "Lobster", sans-serif;
  margin-bottom: 5px;
}

.absatz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0 0 40px 0;
  color: rgb(226, 224, 224);
}

.hero-button {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  background-color: red;
  text-decoration: none;
  border: 1px solid red;
}

.hero-button:hover {
  background-color: transparent;
  transition: 0.5s;
  color: red;
}

.navi {
  background-color: #1a1a1a;
  min-width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 3rem;
  position: fixed;
  top: 0;
}

.nav {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav:hover {
  color: red;
  transition: 0.5s;
}

@media screen and (min-width: 600px) {
  .Title {
    font-size: 4rem;
  }
  .absatz {
    font-size: 1.2rem;
  }
  .hero-button {
    border-radius: 1px;
    background-color: red;
    color: white;
    padding: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .Title {
    font-size: 4rem;
  }
  .absatz {
    font-size: 1.2rem;
  }
  .hero-button {
    border-radius: 1px;
    background-color: red;
    color: white;
    padding: 10px;
  }
}

@media screen and (min-width: 340px) {
  .Title {
    font-size: 3rem;
  }
  .absatz {
    font-size: 1rem;
  }
  .hero-button {
    border-radius: 1px;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1rem;
  }

  .nav {
    font-size: 1rem;
  }
}
